# Auto detect text files and perform LF normalization
* text=auto
*.csharp linguist-detectable=true
*.javascript linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xhtml linguist-detectable=false
