@model AppUser

@section UserName
{
<p> Hoşgeldiniz, @Model.FullName  </p>
}


@section Content {

<div class="container">
    <div class="row">
        <div class="col-8">
            <!--  kayıtlı / kayıtsız hrksin göreceği engüncel 10 makale için componnet  -->
            @await Component.InvokeAsync("Articles")
        </div>
        <div class="col-4">
            <!--  kayıtlı kullanıcının takip ettiği kategoiler yer alacaktır. -->
            @await Component.InvokeAsync("UserFollowedCategories", new { id = Model.Id })   @*sayfaya gelen kullnıcının id si componente parametre olarak gönderildi.*@
        </div>
        
    </div>
</div>
}