@model CreateAppUserDTO

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Kayıt Ekranı</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create" enctype="multipart/form-data">

        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName">FirstName</label>
                <input asp-for="FirstName" type="text" class="form-control">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName">LastName</label>
                <input asp-for="LastName" type="text" class="form-control">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName">UserName</label>
                <input asp-for="UserName" type="text" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail">Email address</label>
                <input asp-for="Mail" type="email" class="form-control">
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImagePath">Image</label>
                <input asp-for="ImagePath" type="file" class="form-control" placeholder="Password">

            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </div>
    </form>
</div>