<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><b>Blog Projesi</b></h1>
        <br />
        <p class="lead">Blog Projeme Hoş geldiniz :) Siteye giriş yapmak isterseniz öncelikle üyelik için kayıt olmanız gerekmektedir. Kayıt olduktan sonra giriş yaparak hesabınıza kategori ve makale ekleyebilirsiniz. Diğer üyeler de sizin kategorinizi kullanarak makale ekleyebilir veya makalenizi okuyabilir. Sizde diğer kullanıcılar tarafından eklenen makaleleri beğenebilir, yorum yapabilirsiniz. Kayıt olmak istemezseniz ana sayfada bulunan makaleleri okuyabilir ve yazar hakkında bilgi sahibi olabilirsiniz.</p>
        <hr />
        <p>
            <u>Adres:</u>  Zuhuratbaba Mah. İncirli Cad. No:57​, 34147 Bakırköy / İstanbul
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.63324766514!2d28.868890014711546!3d40.989511028529634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabca50547e5f5%3A0xab73420ce892f621!2sBilge%20Adam%20Akademi%20Bak%C4%B1rk%C3%B6y%20%C5%9Eubesi!5e0!3m2!1str!2str!4v1644404120071!5m2!1str!2str" width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <img src="~/images/images.png" border="0" align="right" />

    </div>
</div>