@model LoginVM

<form asp-action="Login" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Mail">Mail Adress</label>
        <input asp-for="Mail" type="email" class="form-control" />
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
</form>