@model CreateArticleDTO

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"> Makale Oluşturma Paneli</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="Title">Başlık</label>
                <input asp-for="Title" type="text" class="form-control">
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">İçerik</label>
                <input asp-for="Content" type="text" class="form-control">
                <span asp-validation-for="Content"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath">Image</label>
                <input asp-for="ImagePath" type="file" class="form-control">
                <span asp-validation-for="Image"></span>

            </div>

            @*<div class="form-group">
                <label asp-for="Categories">Kategorisi</label>
                <select asp-for="CategoryId" multiple="multiple" >
                    @foreach (GetCategoryVM item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                     
                    }
                </select>
                <span asp-validation-for="Categories"></span>
            </div>*@

            <div>
                @await Component.InvokeAsync("ArticleCategory")
            </div>

            <input type="hidden" asp-for="AppUserId" />
        </div>


        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Makale Oluştur</button>
        </div>
    </form>
</div>